/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #f4f4f4;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

.accordion-container {
  background-color: #fff;
  color: #5969f1;
  max-width: 60vw;
  margin: 3rem auto;
  padding: 1rem;
}

.accordion-container h1 {
  font-weight: 700;
  color: #3a3a3a;
  font-size: 2rem;
}

.accordion {
  font-size: 1.5rem;
}

.accordion label:hover {
  cursor: pointer;
}

.meme-input:checked ~ .meme-content {
  max-height: 100rem;
}

.meme-input:checked ~ .meme-label {
  color: #3a3a3a;
}

.meme-label {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 1rem 0;
  border-top: 0.1rem solid #5e5e5e;
}

.meme-label span {
  display: inline-block;
}

.meme-label:hover {
  color: #3a3a3a;
}

.meme-content {
  max-height: 0;
	overflow: hidden;
	-webkit-transition: max-height 0.8s;
	-moz-transition: max-height 0.8s;
	transition: max-height 0.8s;
}

.meme-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.meme-input {
  display: none;
}

.icon {
  color: #3a3a3a;
  opacity: 0;
  transition: all 0.5s ease-out;
}

.accordion-container:hover .icon {
  opacity: 1;

}

.meme-input:checked .icon {
  color: red;
}

.meme-input:checked .icon {
  color: red;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media screen and (max-width: 320px) {
  .accordion-container {
    max-width: 95vw;
  }
  .accordion-container h1 {
    font-size: 1.5rem;
  }
  .accordion {
    font-size: 1rem;
  }
}

@media screen and (max-width: 820px) and (min-width: 321px) {
  .accordion-container {
    max-width: 90vw;
  }
  .accordion-container h1 {
    font-size: 1.75rem;
  }
  .accordion {
    font-size: 1.25rem;
  }
}

